#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #8702b8;
}

.nav__logo img {
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex: 1;
}

.nav__profile-icon {
  height: 35px;
  width: 35px;
  border-radius: 99px;
  cursor: pointer;
  background: beige;
  border: none;
  color: black;
  margin-right: 10px;
}

.nav__profile-icon:hover {
  border: solid;
  border-width: 1px;
  border-color: blue;
}

.project__list {
  display: flex;
}

.project__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  padding: 10px;
}

.project__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.project__listItem {
  display: flex;
  font-family: Inter, Helvetica;
  min-height: 70px;
  height: 100px;
  border: solid;
  border-width: 1px;
  border-color: rgb(124, 124, 124);
  border-radius: 6px;
  padding: 5px;
}

.project__listItem:hover {
  border-color: #8702b8;
  cursor: pointer;
}

.button__add {
  border-radius: 6px;
  border-width: 1px;
}

.button__add:hover {
  cursor: pointer;
}
