#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #8702b8;
}

.nav__logo img {
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex: 1;
}

.nav__profile-icon {
  height: 35px;
  width: 35px;
  border-radius: 99px;
  cursor: pointer;
  background: beige;
  border: none;
  color: black;
  margin-right: 10px;
}

.nav__profile-icon:hover {
  border: solid;
  border-width: 1px;
  border-color: blue;
}

.project__list {
  display: flex;
}

.project__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  padding: 10px;
}

.project__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.project__listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: Inter, Helvetica;
  min-height: 70px;
  height: 100px;
  border: solid;
  border-width: 1px;
  border-color: rgb(124, 124, 124);
  border-radius: 6px;
  padding: 10px;
}

.project__listItem:hover {
  border-color: #8702b8;
  cursor: pointer;
}

.button__add {
  border-radius: 6px;
  border-width: 1px;
}

.button__add:hover {
  cursor: pointer;
}

.modal__container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.7;
}

.modal__default {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  min-height: 800px;
  min-width: 800px;
  border-radius: 10px;
  background-color: #e9beff;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.modal__close {
  border: none;
}

.form__default {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__default input {
  background-color: #d1aae4;
  border-radius: 6px;
  height: 2em;
}

.form__default textarea {
  background-color: #d1aae4;
  border-radius: 6px;
}

.form__default button {
  font-family: Inter, Helvetica;
  border-radius: 6px;
  height: 2em;
}
